.main {
    min-height: 100vh;
    background: #dcf1ee;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .card {
    cursor: pointer;
}

.create-group-button{
    background-color: #225750;
}

.create-group-button{
    background-color: #225750;
}