.main-layout {
  display: flex;
  min-height: 100vh;
}

.content,
.expanded {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.content {
  margin-left: 4rem;
}

.expanded {
  margin-left: 12rem;
}
